@use "helpers/variables";
@use "helpers/functions";
@use "components/comps";

*{
    box-sizing: border-box;
    @include functions.applyInterFont(variables.$primary);
}
a{
    text-decoration: none;
}
p{
    color: variables.$text-dark-mode;
}
.bg-body{
    background-color: variables.$dark;
}

$primary: variables.$primary;

// @import "../../node_modules/bootstrap/scss/variables";
#body{
    background-color: variables.$dark;
}
.butt{
    font-weight: 600;
    background-color: #f6b93b;
    border-radius: 5px;
    box-shadow:    -4px 4px #000000;
    padding:       20px 45px;
    color:         black;
    display:       inline-block;
    text-align:    center;
    @include functions.applySourceFont(black);
    transition: 0.5s ease-in-out;
    :hover{
        transform: scale(1.5);
    }
}

.heroImg{
    height: auto;
    width: 100%;
}

#footer-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
        color: variables.$text-dark-mode;
        font-size: 0.9rem;
        font-weight: 400;
        text-decoration: none;
        transition: color 0.3s ease-out;
        &:hover{
            color: variables.$primary;
        }
    }
}