{% extends 'base.html' %} {% block title %} Basket {% endblock %} {%block
content %}

{% set total_price = 0 %}
{% set total_items = 0 %}

<section class="h-100">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h1 class="fw-normal mb-0">Shopping Cart</h1>
          <div>
            <p class="mb-0">
              <span class="sort_basket">Sort by:</span>
              <a href="#!" class="text-body"
                >price <i class="fas fa-angle-down mt-1"></i
              ></a>
            </p>
          </div>
        </div>

        {% for item in basket_items %} {% set total_items = total_items +
        item.quantity %} {% set total_price = total_price + (item.product.price
        * item.quantity) %} {% include'html_components/basket_card_template.html' %} {% endfor %}

        <div class="d-flex justify-content-center">
          <h5>Total items: {{ total_items }}</h5>
        </div>
        <div class="d-flex justify-content-center">
          <h5>Total price: £{{ total_price }}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="module" src="{{url_for('static', filename='scripts/server.js')}}"></script>

{% endblock %}
