{% extends 'base.html'%} {% block title %} Browse {% endblock %} 
{% block content %}
<div class="container">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <form class="form" method="GET" action="{{url_for('product.browse')}}">
        <input
          type="text"
          name="title"
          id="searchBar"
          class="form-control form-input"
          placeholder="Search Items"
        />
        <button class="" type="submit">
          <i class="bi bi-search"></i>
        </button>
        <button type="submit" data-bs-toggle="modal" data-bs-target="#filterModal">
          <i class="bi bi-funnel-fill"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<div class="browse-cards container px-4" id="custom-cards">
  <div
    class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5"
    id="inject-cards">
    {% include 'html_components/card_template.html'%}
  </div>
</div>

<!-- Pagination -->
{% if pagination.pages %}
  <div class="pagination justify-content-center mb-4">
    {% if pagination.has_prev %}
      <a class="pagination-outline me-2" href="{{ url_for('product.browse', page=pagination.prev_num) }}">Previous</a><p> | </p>
    {% else %}
      <span class="pagination-outline me-2">Previous</span><p> | </p>
    {% endif %}
    {% for page_num in pagination.pages %}
      {% if page_num %}
        {% if page_num != pagination.page %}
          <a class="pagination-outline me-2" href="{{ url_for('product.browse', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <span class="pagination-outline selected-pagination me-2">{{ page_num }}</span>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% if pagination.has_next %}
      <p> | </p><a class="pagination-outline" href="{{ url_for('product.browse', page=pagination.next_num) }}">Next</a>
    {% else %}
      <p> | </p><span class="pagination-outline">Next</span>
    {% endif %}
  </div>
{% endif %}

<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Filter Products</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="">
        <div class="modal-body">
          <div class="form-group">
            <label for="min_price">Minimum Price:</label>
            <input type="number" class="form-control" id="min_price" name="min_price">
          </div>
          <div class="form-group">
            <label for="max_price">Maximum Price:</label>
            <input type="number" class="form-control" id="max_price" name="max_price">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-primary">Apply Filters</button>
        </div>
      </form>
    </div>
  </div>
</div>



{% endblock %}
