{% extends 'base.html'%} {% block title %} Browse {% endblock %} {% block
content %}
<div class="container">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <form class="form" method="GET" action="{{url_for('product.browse')}}">
        <input
          type="text"
          name="title"
          id="searchBar"
          class="form-control form-input"
          placeholder="Search Items"
        />
        <button class="" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
    </div>
  </div>
</div>

<form
  action="{{ url_for('product.browse') }}"
  method="GET"
  class="search-filter mb-3"
  style="width: 200px; display:flex; flex-direction:column; align-items:center; transform: translate(40vw);"  
>
  <div class="row">
    <div class="col">
      <label for="price_order" class="form-label">Price:</label>
      <select class="form-select" id="price_order" name="price_order">
        <option value="">Select Price Order</option>
        <option value="asc">Low to High</option>
        <option value="desc">High to Low</option>
      </select>
    </div>
  </div>
  <input type="hidden" name="market_values" value="">
  <input type="submit" value="Submit">
</form>

<div class="browse-cards container px-4" id="custom-cards">
  <div
    class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5"
    id="inject-cards">
      {% include 'html_components/card_template.html' %}
  </div>
</div>

<!-- Pagination -->
{% if pagination.pages %}
<div class="pagination justify-content-center mb-4">
  {% if pagination.has_prev %}
  <a
    class="pagination-outline me-2"
    href="{{ url_for('product.browse', page=pagination.prev_num) }}"
    >Previous</a
  >
  <p>|</p>
  {% else %}
  <span class="pagination-outline me-2">Previous</span>
  <p>|</p>
  {% endif %} {% for page_num in pagination.pages %} {% if page_num %} {% if
  page_num != pagination.page %}
  <a
    class="pagination-outline me-2"
    href="{{ url_for('product.browse', page=page_num) }}"
    >{{ page_num }}</a
  >
  {% else %}
  <span class="pagination-outline selected-pagination me-2"
    >{{ page_num }}</span
  >
  {% endif %} {% endif %} {% endfor %} {% if pagination.has_next %}
  <p>|</p>
  <a
    class="pagination-outline"
    href="{{ url_for('product.browse', page=pagination.next_num) }}"
    >Next</a
  >
  {% else %}
  <p>|</p>
  <span class="pagination-outline">Next</span>
  {% endif %}
</div>
{% endif %} 

{% endblock %}
