{% extends 'base.html'%} {% block title %} Browse {% endblock %} {% block
content %}
<div class="container">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-6">
      <form class="form" method="GET" action="">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="search-icon bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          />
        </svg>
        <input
          type="text"
          name="title"
          id="searchBar"
          class="form-control form-input"
          placeholder="Search Items"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-filter"
          viewBox="0 0 16 16"
        >
          <path
            d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </form>
    </div>
  </div>
</div>

<div class="browse-cards container px-4" id="custom-cards">
  <div
    class="row row-cols-1 row-cols-lg-4 align-items-stretch g-4 py-5"
    id="inject-cards"
  >
    <!-- {% include 'html_components/card_template.html' %} -->
    <script>
      searchBar = document.getElementById("searchBar");
      searchBar.addEventListener("input", (e) => {
        let value = e.target.value;
        // Check if input exists and is greater than 0
        if (value && value.trim().length > 0) {
          value.value.trim().toLowerCase();

          // Return results that include the value of the search
          setDiv(
            items.filter((item) => {
              return item.name.includes(value);
            })
          );
        } else {
        }
      });
    </script>
  </div>
</div>

{% endblock %}
