@use "helpers/variables";
@use "helpers/functions";
@use "components/nav";

*{
    @include functions.applyInterFont(variables.$primary);
}

p{
    color: variables.$secondary;
}
.bg-body{
    background-color: variables.$dark;
}

$primary: variables.$primary;

// @import "../../node_modules/bootstrap/scss/variables";
#body{
    background-color: variables.$dark;
}
.butt{
    background: #f6b93b;
    border-radius: 5px;
    box-shadow:    -4px 4px #333333;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    text-align:    center;
}