@use "helpers/variables";
@use "helpers/functions";
@use "components/comps";

*{
    @include functions.applyInterFont(variables.$primary);
}
a{
    text-decoration: none;
}
p{
    color: variables.$text-dark-mode;
}
.bg-body{
    background-color: variables.$dark;
}

$primary: variables.$primary;

// @import "../../node_modules/bootstrap/scss/variables";
#body{
    background-color: variables.$dark;
}
.butt{
    background: #f6b93b;
    border-radius: 5px;
    box-shadow:    -4px 4px #000000;
    padding:       20px 45px;
    color:         #ffffff;
    display:       inline-block;
    text-align:    center;
    @include functions.applySourceFont(black)
}