@use "../helpers/variables";

section{
    background-color: variables.$dark;
}

h1{
    color: variables.$primary;
}

#price-colour{
    color: variables.$dark;
}

.cart_button{
    border: 1px solid black !important;
}

.quantity-form{
    margin-bottom: 1em;

    display: flex;
    flex-direction: row;
    align-items: baseline;

    .item_quantity{
        width: 3em;
    }
    button{
        margin: 0 0.5em;
    }
    
}

.item-subtotal{
    font-weight: bold;
}