.browse-cards{
    min-width: 360px;
    object-fit: cover;
    margin-top: 0;
    .item-card{
        background-color: white;
    }
}

.item-info{
    background-color: white;
    button{
        background: none;
        border: none;
    }
    small{
        font-size: medium;
        font-weight: 600;
    }
    input{
        width: 3rem;
    }
}

.img-wrapper{
    position: relative;
    background-color: white;
    .item-name{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}