
.form{
    display: flex;
    position: relative;
    .search-icon{
        position: absolute;
        justify-content: flex-end;
        top: 9px;
        left: -7px;
        color: #9ca3af;
    }
    input{
        text-align: center;
    }
}

