<div class="card rounded-3 mb-4">
  <div class="card-body p-4">
    <div class="row d-flex justify-content-between align-items-center">
      <div class="col-md-2 col-lg-2 col-xl-2">
        <img
          src="{{ item.product.img_url }}"
          class="img-fluid rounded-3"
          alt="Cotton T-shirt"
        />
      </div>
      <div class="col-md-7 col-lg-7 col-md-7">
        <div class="row align-items-center">
          <div class="col-md-12">
            <p class="lead fw-normal mb-2" style="color:#212121;">{{ item.product.title }}</p>
          </div>
          <div class="col-md-12">
            <p style="color: #F6B93B;">Price: <span id="price-colour">£{{ item.product.price }}</span></p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-lg-3 col-md-3">
        <div class="row align-items-center justify-content-end">
          <div class="col-md-12 quantity-info">
            <form method="POST" class="quantity-form" action="{{ url_for('product.update_basket_item', basket_item_id=item.id) }}">
              <label for="item_quantity_{{ item.id }}" >Quantity: </label>
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <input
                type="number"
                name="item_quantity"
                id="item_quantity_{{ item.id }}"
                class="item_quantity"
                value="{{ item.quantity }}"
                min="1"
              >
              <button class="btn cart_button increase-quantity" type="submit" name="action" value="update">Update</button>
            </form>
          </div>
          <div class="col-md-12">
            <h6>Total Price: £<span class="mb-0 item-subtotal"> {{ item.product.price * item.quantity }}</span></h6>
          </div>
          <div class="col-md-12 mt-2">
            <form method="POST" action="{{ url_for('product.update_basket_item', basket_item_id=item.id) }}">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <button class="btn btn-outline-danger btn-sm" type="submit" name="action" value="remove">Remove</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
