{% for item in data %}
<div class="col">
  <div class="browse-cards card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
    style="background-image: url('{{item.image}}');">
    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
      <h3 class="card-text pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{item.title}}</h3>
      <ul class="d-flex list-unstyled mt-auto" style="align-items: baseline;">
        <li class="me-auto">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
          </svg>
        </li>
        <li class="d-flex align-items-center me-3">
          <small>{{item.short_desc}}</small>
        </li>
        <li class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-pound" viewBox="0 0 16 16">
            <path d="M4 8.585h1.969c.115.465.186.939.186 1.43 0 1.385-.736 2.496-2.075 2.771V14H12v-1.24H6.492v-.129c.825-.525 1.135-1.446 1.135-2.694 0-.465-.07-.913-.168-1.352h3.29v-.972H7.22c-.186-.723-.372-1.455-.372-2.247 0-1.274 1.047-2.066 2.58-2.066a5.32 5.32 0 0 1 2.103.465V2.456A5.629 5.629 0 0 0 9.348 2C6.865 2 5.322 3.291 5.322 5.366c0 .775.195 1.515.399 2.247H4v.972z"/>
          </svg>
          <small>{{item.unit_price}}</small>
        </li>
      </ul>
    </div>
  </div>
</div> 
{% endfor %}