{% if query %}
<h2>Search Results for "{{ query }}"</h2>
{% endif %} {% for item in data %}
<div class="card-container">
  <div class="card-items product-card">
    <div class="product-card__image">
      <img src="{{ item['img_url'] }}" alt="{{ item['title'] }}" />
    </div>
    <div class="product-card__content">
      <h5 class="product-card__title">{{ item['title'] }}</h5>
      <p id="product-card__price">£ {{ item['price'] }}</p>
      <form class="to-basket-form" method="POST" action="{{url_for('product.add_to_basket', product_id=item['id'])}}">
        <input type="hidden" name="product_id" value="{{ item['id'] }}" />
        <div class="product-card__quantity">
          <small><label for="quantity">Quantity: </label></small>
          <input
            type="number"
            name="quantity"
            id="quantity"
            value="1"
            min="1"
          />
        </div>
        <button type="submit" class="product-card__button">Add to cart</button>
      </form>
    </div>
  </div>
</div>
{% endfor %}
