@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/source-code-pro.min.css");
@import url("https://fonts.cdnfonts.com/css/ink-free");
.main .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  padding: 0 2rem;
  margin: auto;
  z-index: -1;
  position: fixed;
  transform: translateY(-50px);
}
.main .wrapper {
  max-width: 28rem;
  width: 100%;
  margin: 2rem auto;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  color: #F6B93B;
  background: #212121;
  box-shadow: 16px 16px 29px #161616, -16px -16px 29px #2c2c2c;
}
.main .wrapper .form {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}
.main .wrapper .form .input-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}
.main .wrapper .form .input-field {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  width: 100%;
  height: auto;
  padding: 0.75rem 1.25rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  color: #fefefe;
  background: #545454;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
.main .wrapper .form .input-submit {
  font-size: 1rem;
  font-weight: 600;
  line-height: inherit;
  cursor: pointer;
  min-width: 40%;
  height: auto;
  padding: 0.65rem 1.25rem;
  border: none;
  outline: none;
  color: black;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
}

.logo-google {
  font-size: 1.65rem;
  line-height: inherit;
  margin-right: 0.5rem;
  fill: red;
}
.logo-facebook {
  font-size: 1.65rem;
  line-height: inherit;
  margin-right: 0.5rem;
  fill: blue;
}
.logo-apple {
  font-size: 1.65rem;
  line-height: inherit;
  margin-right: 0.5rem;
  fill: #CBCBCB;
}

.text {
  font-family: inherit;
  line-height: inherit;
  text-transform: unset;
  text-rendering: optimizeLegibility;
}
.text-large {
  font-size: 2rem;
  font-weight: 600;
  color: #F6B93B;
  text-shadow: -4px 4px #000000;
}
.text-normal {
  font-size: 1rem;
  font-weight: 400;
  color: #CBCBCB;
}
.text-links {
  font-size: 1rem;
  font-weight: 400;
  color: #F6B93B;
}
.text-links:hover {
  text-decoration: underline;
}

.striped {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.striped-line {
  flex: auto;
  flex-basis: auto;
  border: none;
  outline: none;
  height: 2px;
  background: #CBCBCB;
}
.striped-text {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 500;
  line-height: inherit;
  margin: 0 1rem;
}

.method-control {
  margin-bottom: 1rem;
}
.method-action {
  font-family: inherit;
  font-size: 0.95rem;
  font-weight: 500;
  line-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.35rem 1.25rem;
  outline: none;
  border: 1px solid #CBCBCB;
  border-radius: 2rem;
  color: #CBCBCB;
  background: #212121;
  text-decoration: none;
  text-transform: capitalize;
  text-rendering: optimizeLegibility;
  transition: all 0.35s ease;
}
.method-action:hover {
  background: #545454;
}

.nav-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #212121;
}

.navbar {
  grid-template-columns: 1fr 3fr;
  height: 50px;
  overflow: hidden;
}
.navbar img {
  height: 1.5em;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}
.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-self: end;
  text-align: center;
}
.navbar ul .nav-item {
  padding: 0;
  margin: 0.1em 0.5em;
}
.navbar a {
  color: #CBCBCB;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}
.navbar a:hover {
  color: #F6B93B;
}

.search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}
.search-icon:hover {
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
}

.search-input {
  position: absolute;
  display: none;
  top: -4px;
  right: -1000px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  outline: 0;
  padding: 5px;
}

/* MOBILE MENU & ANIMATION */
.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Media Queries */
/* Mobile Devices - Phones/Tablets */
@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    padding: 50px;
  }
  /* MOBILE HEADINGS */
  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  /* MOBILE NAVIGATION */
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 55px;
    background-color: #212121;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
  }
  .navbar li {
    padding: 15px;
  }
  .navbar li:first-child {
    margin-top: 50px;
  }
  .navbar li a {
    font-size: 1rem;
  }
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  .mobile-nav {
    transform: translate(0%) !important;
  }
  /* SEARCH DISABLED ON MOBILE */
  #search-icon {
    display: none;
  }
  .search-input {
    display: none;
  }
}
section {
  background-color: #212121;
}

h1 {
  color: #F6B93B;
}

.browse-cards {
  min-width: 360px;
  object-fit: cover;
}
.browse-cards .item-card {
  background-color: white;
}

.item-info {
  background-color: white;
}
.item-info button {
  background: none;
  border: none;
}
.item-info small {
  font-size: medium;
  font-weight: 600;
}
.item-info input {
  width: 3rem;
}

.img-wrapper {
  position: relative;
  background-color: white;
}
.img-wrapper .item-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #F6B93B;
}

a {
  text-decoration: none;
}

p {
  color: #CBCBCB;
}

.bg-body {
  background-color: #212121;
}

#body {
  background-color: #212121;
}

.butt {
  font-weight: 600;
  background-color: #f6b93b;
  border-radius: 5px;
  box-shadow: -4px 4px #000000;
  padding: 20px 45px;
  color: black;
  display: inline-block;
  text-align: center;
  font-family: "Source Code Pro", sans-serif;
  color: black;
  transition: 0.5s ease-in-out;
}
.butt :hover {
  transform: scale(1.5);
}

.heroImg {
  height: auto;
  width: 100% \9 ;
}

/*# sourceMappingURL=main.css.map */
